<!doctype html>
<html>
  <head>
    <link href="/bootstrap-3.0.0/dist/css/bootstrap.min.css" />
  </head>
  <body>
    Please enter information here to generate a qrcode.
    <form method="post" action="/generate-qr">
      <label for="seller">Phone Number: </label>
      <input type="text" name="seller"><br>

      <label for="item">Item: </label>
      <input type="text" name="item"><br>

      <label for="price">Price: </label>
      <input type="text" name="price"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
